<%= render "shared/header" %>

<section class="wrapper">
    <div class="container">
        <div class="content">

<div class="cp_cssslider">
	<div class="mask">
	<ul>
	<li><a href="#"><%= image_tag "shisha1.png", class:"cp_cssslider" %></a>

	<li><a href="#"><%= image_tag "shisha111.png", class:"cp_cssslider" %></a>

	<li><a href="#"><%= image_tag "shisha11.png", class:"cp_cssslider" %></a>

	<li><a href="#"><%= image_tag "shisha4.png", class:"cp_cssslider" %></a>

	<li><a href="#"><%= image_tag "shisha1111.png", class:"cp_cssslider" %></a>
	
	</ul>
	</div>
	<div class="cp_progressbar"></div>
</div>

            <h2 class="heading">STORY</h2>
            <div class="list">
                <div class="list-item">水パイプ(シーシャ)の起源には色々な説がありますが、1600年代(早くても1500年代)であると言われています。タバコも1500年代、1600年代には世界中に普及していたので、タバコの普及と共に、喫煙具も色々と販売されるようになったと考えられます。</div>
                <div class="list-item">水パイプ、シーシャはインドの医者の発明とも言われていて、タバコをそのまま吸うと健康を害するので、煙を水を通すことによって浄化するというコンセプトの元、水パイプを発明したと言われています。その結果、インドの貴族間で一般的となり、インド貴族を代表するシンボルとなりました。</div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper2">
    <div class="container2">
        <div class="content2">
            <div class="content-item2">
                <%= image_tag "shisha2.png", class:"images2" %>
            </div>    
            <div class="content-item2">
                <div class="text2">
                    <h2 class="heading2">Good Points</h2>
                    <p>タバコの煙、独特の香りが気になる方もご心配は無用。一般的な紙巻きタバコで感じる後味にくる苦味やタバコ独特のにおいは水タバコ/シーシャの場合は感じません。タバコが苦手な方も安心なノンニコチンフレーバー＝デクラウドもございます。フレーバー特有のフルーティーでアロマな香りが全身を包み込み、リラックス効果も感じてしまうほど。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper3">
    <div class="container3">
        <div class="content3">
            <div class="content-item3">
                <%= image_tag "shisha3.png", class:"images3" %>
            </div>    
            <div class="content-item3">
                <div class="text3">
                    <h2 class="heading3">Photogenic</h2>
                    <p>シーシャの語源はペルシア語で「ガラス」を意味する「シーシェ」からきているとのことで、シーシャの器具は色鮮やかなガラスでできています。これがたくさん並ぶと非常に可愛いんです！　店内装飾もアラビアンな雰囲気なので、普段の生活では撮れないようなエキゾチックな写真になります。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper4">
    <div class="container4">
        <div class="content4">
            <h2 class="heading4">POINT</h2>
            <div class="list4">
                <div class="list-item4">
                    <%= image_tag "shisha4.png", class:"images4" %>
                    <div class="text4">セッティングする人によって味が変わってしまうくらい、シーシャは繊細な器具なんです。炭の火加減や、水の量によっても、煙の香り方や味も変わるといわれています。</div>
                </div>
                <div class="list-item4">
                    <%= image_tag "shisha444.png", class:"images4" %>
                    <div class="text4">シーシャは、選ぶフレーバーによって香りや味が大きく変わります。甘いフレーバーから、爽快感のあるフレーバーまで、さまざまな種類のフレーバーがあります。</div>
                </div>    
                <div class="list-item4">
                    <%= image_tag "shisha4444.png", class:"images4" %>
                    <div class="text4">「シーシャ」が女子大生の間で急速にブームになっています。その勢いは『ViVi』のキラキラ読モが夜遊びスポットとして紹介し始めてしまっているほど！</div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render "shared/footer" %>
