<%= render "shared/header" %>
<h2>Photos#edit</h2>
<span>現在ログイン中のユーザー：<%= current_user.nickname %></span>
<%= form_for(@photo, url: photo_path(@photo)) do |f| %>
    <div>
        <%= f.label :タイトル %><br>
        <%= f.text_field :title, autofocus: true, :placeholder =>"#{@photo.title}" %>
    </div>
    <div>
        <%= f.label :イメージ %><br>
        <%= f.file_field :image, :placeholder =>"#{@photo.image}" %>
    </div>
    <div><%= f.submit "更新する" %></div>

    
<% end %>
<%= render "shared/footer" %>