<%= render "shared/header" %>
<h2>みんなの投稿</h2>

<div class="card">
 <% Photo.all.each do |photo| %>
 <div class="itm">
    <%= image_tag photo.image %>
    <p><%= link_to photo.user.nickname, user_path(photo.user_id) %></p>
    <p><span>shopname:</span>&nbsp;&nbsp;&nbsp;<%= photo.title %></p>
    <p><span>place:</span>&nbsp;&nbsp;&nbsp;<%= photo.place %></p>
    <p><span>memo:</span>&nbsp;&nbsp;&nbsp;<%= photo.description %></p>
    </div>
<% end %>
</div>






<%= render "shared/footer" %>